.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  margin-bottom: 50px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.show-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.photo-container {
  width: 100%;
  height: 60vh;
  display: flex;
  gap: 2px;
}

.info-container {
  width: 50%;
}

.basic-form-container {
  width: 60%;
  border: solid 1px $teal;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  .mb-3 {
    font-size: 20px;
    color: $teal;
  }
}

.booking-form-container {
  border: 1px solid $teal;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: sticky;
  top: 120px;
  max-width: 400px;
  width: 50%;
  height: 450px;
}

.booking-map-container {
  border: 1px solid $teal;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: sticky;
  top: 120px;
  max-width: 400px;
  width: 50%;
  height: 450px;
}

.booking-map-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container {
  width: 100%;
display: flex;
justify-content: space-between;
gap: 50px;
}

.profile-buttons-container {
  width: 60%;
  border: solid 1px $teal;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31%;
  gap: 20px;
  padding:40px;
  height: fit-content;
}

.log-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
