.mapboxgl-popup {
  max-width: 200px !important;
  // max-height: 250px !important;
}

.mapboxgl-popup-tip {
  border: hidden !important;
}

.mapboxgl-popup-content {
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px !important;
  display: flex;
  flex-direction: column;
  padding: 0px !important;
}

.popup-photo > img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-radius: 5px 5px 0px 0px;
}

.popup-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  a {
    color: $teal !important;
    text-decoration: none !important;
  }
  p {
    margin-bottom: 0px !important;
    color: $text-gray;
  }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  float: none !important;
  margin: 0px !important;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
}
